*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    margin: 50px 10%;

}

form
{
    margin-bottom: 5px;
    box-shadow: 2px 2px 5px #759964;
    width: 40%;
    padding: 2px;
}

button
{
   cursor: pointer;
   padding: 8px;
}

.content
{
    
        width: 40%;
        height: 300px;
        border: 1px solid transparent;
        box-shadow: 2px 2px 5px #759964;
    
    
}